<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"align":"full","className":"blockfolio-document","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","orientation":"horizontal","flexWrap":"nowrap","verticalAlignment":"top"}} -->
<main class="wp-block-group alignfull blockfolio-document">
	<!-- wp:template-part {"slug":"sidebar-toc"} /-->

	<!-- wp:group {"metadata":{"name":"Biography"},"className":"blockfolio-page","layout":{"type":"constrained"}} -->
	<div class="wp-block-group blockfolio-page">
		<!-- wp:pattern {"slug":"intro"} /-->

		<!-- wp:blockfolio/work-experience {"title":"Work Experience"} -->
		<div class="wp-block-blockfolio-work-experience blockfolio-work-experience"><div class="blockfolio-work-experience__header"><h2 class="blockfolio-work-experience__title">Work Experience</h2></div>
		<!-- wp:blockfolio/work-experience-item {"company":"Company Name","companyDescription":"Company description goes here.","role":"Job Title","startDate":"2020","current":true,"description":"\u003cli\u003eLine\u003c/li\u003e"} /-->
		<!-- wp:blockfolio/work-experience-item {"company":"Company Name","companyDescription":"Company description goes here.","role":"Job Title","startDate":"2015","endDate":"2020","current":false,"description":"\u003cli\u003eLine\u003c/li\u003e"} /-->
		</div>
		<!-- /wp:blockfolio/work-experience -->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
